# Pandas

- Author:Varun Anand Patkar
- Created On : 14 Nov 2020

**<a href="https://colab.research.google.com/drive/1bb_TkR78I2TSM9EXFfo6Mq4uvFDfqpmK?usp=sharing">Collab Notebook Link</a>**
 
Now let's download a dataset. Today we are going to be using Stack Overflow's 2020 Survey data as our dataset.

Here's the link to check out some insights and all previous year datasets:
<br><a href="https://insights.stackoverflow.com/survey">Stack Overflow Dataset and Previous Year link</a>

In [ ]:
#Download files
!rm -rdf *
!pip install gdown
!gdown https://drive.google.com/uc?id=1dfGerWeWkcyQ9GX9x20rdSGj7WtEpzBB
!unzip developer_survey_2020.zip
!rm developer_survey_2020.zip README_2020.txt so_survey_2020.pdf
!ls

In [ ]:
import pandas as pd
import numpy as np

## Basic Function

- Importing data from csv

To read data from different file formats, there are many functions. Our dataset is in csv format but we'll see all the functions

In [ ]:
#pd.read_excel('file_name.xlsx',index_col=0) #for reading excel files
#pd.read_json('file_name.json') #for reading json files
#pd.read_html('file_name.html') #for reading html files
#pd.read_sql('file_name.sql') #for reading sql files
#pd.read_pickle('file_name.pkl') #for reading .pkl files(pickled pandas files)
df=pd.read_csv('survey_results_public.csv') #assigns read data to variable df(stands for dataframe)
df.head() #prints first 5 rows

OK, so why use pandas? We can use native python for this right? 

Well in native python to read in a csv file, you have to use he csv module to create a csvreader that takes many lines of code and increases complexity. In pandas, you can do all that in one line and faster than native python.

To get the total size of your dataframe, you can use the shape attribute of dataframes. And to get the total nos of values in the dataframe use the size attribute

In [ ]:
print("Shape of DataFrame : "+str(df.shape)+"\nTotal size of Dataframe : "+str(df.size)+" in bytes")

To get more information on each column's data type etc., You can use the info function

In [ ]:
df.info()

To see all the columns instead of just 20 columns you can use the set_option function

In [ ]:
pd.set_option("display.max_columns",61)
df.head()

To see the first n rows use the head function and the last n use the tail function

In [ ]:
print("HEAD : ")
df.head(10)

In [ ]:
print("TAIL : ")
df.tail(10)

## DataFrames and Series(Selecting rows and columns)

In this survey, each row is a person who answered the survey and each column is an answer to a question asked in the survey. Now to know what any question means we can load in the schema dataframe.

In [ ]:
schema_df=pd.read_csv('survey_results_schema.csv')
pd.set_option("display.max_columns",3)
pd.set_option("display.max_rows",61)
schema_df

Now, how would you implement a dataframe in regular python?<br>By using a dictionary andthen making a list of that dictionary to keep multiple values

In [ ]:
person={
    "first":"Varun",
    "last":"Patkar",
    "email":"abc@gmail.com"
}
person# for one person

In [ ]:
people={
    "first":["Varun","Shardul","Kaif"],
    "last":["Patkar","Shroff","Kohari"],
    "email":["abc@gmail.com","def@student.sfit.ac.in","ghi@student.sfit.ac.in"]
}
people #for multiple people

In this analogy, keys are the colums and values are rows for each tuple(row).<br>Now, how would you access the emails list? By referencing the email key in the people dictionary

In [ ]:
people["email"]

We can not just load data from csv, html, xlsx files, etc. but we can also import data from a dictionary such as the one defined earlier

In [ ]:
df=pd.DataFrame(people) #look at the case of the function(capital d and f)
df  #the 0,1,2 are indexes for each rows that are either predefined by pandas or defined by the user.We'll see that later

We can similarly access colums by using same format as dictionaries

In [ ]:
df['email']; #this is not a list or a dataframe but a series. Let's check it's type
print("Emails:\n",df['email'],"\n\n\nType:",type(df['email']))

A Series is like a list like dataframes are like dictionaries. They act like lists but have more functionality. 

Series:1D Container
<br>Dataframes:2D Container(A container for multiple series objects)

**Another way is to use the dot notation(only applicable for single word colums i.e. you can't access "First Name" with dot but can access"First_Name". This is not an efficient way as there is a chance that a column is named same as a function or atttribute of a dataframe so it is better to use the square bracket way**

ex. you have a column named count so you try to write df.count but end up referencing the count attribute of a dataframe

In [ ]:
df.email

You can reference multiple colums by using bracket notation with a list of column names

In [ ]:
df[['first','email']]#returns a dataframe not a series

To look at all the colums available to us we can use the columns attribute

In [ ]:
df.columns

In [ ]:
df.iloc[[0,1]]

In [ ]:
df.iloc[[0,1],[0,1]]# we can then pass in another list of nos that specify the columns you want
#(iloc so cant pass in column names)

In [ ]:
#In loc we can specify the names of colums(but as we have not given indexes they will remain the same)
df.loc[[0,1],"email"]

In [ ]:
# Ex 1
#Write a line of code to extract Kaif's First Name and Email only using loc
#ADD YOUR CODE HERE

#END CODE HERE
#Write a line of code to extract Kaif's First and Last Name using iloc
#ADD YOUR CODE HERE

#END CODE HERE

In [ ]:
df=pd.read_csv('survey_results_public.csv')
schema_df=pd.read_csv('survey_results_schema.csv')
pd.set_option("display.max_columns",61)
pd.set_option("display.max_rows",61)

In [ ]:
df[["Hobbyist"]]

Now, if we were in native python and wanted to know how many answered yes and no we would have to use a for loop etc.

Here's where pandas shines. Let's see hwo to get nos. of Yes and Nos

In [ ]:
df["Hobbyist"].value_counts() #using the built in value_counts method we can find the nos. of yes and nos

In [ ]:
#let's try to get the first 100 answers using the loc function

#Remember:last value is inclusive unlike native python where last value is excluded

df.loc[0:100,"Hobbyist"]

In [ ]:
#Similarly to get Hobbyist till CompTotal we cna use slicing

#Remember:last value is inclusive unlike native python where last value is excluded

df.loc[0:100,"Hobbyist":"CompTotal"]

## Setting, Resetting and Using Indexes

For this let's go back to our old example

In [ ]:
people={
    "First Name":["Varun","Kaif","Shardul"],
    "Last Name":["Patkar","Kohari","Shroff"],
    "email":["abc@student.sfit.ac.in","def@student.sfit.ac.in","ghi@student.sfit.ac.in"]
}
df=pd.DataFrame(people)
df
#the default index is the left most column. the default one just gives the integer for each row.

Now,Indexes are values that you refer each column by. So it needs to be unique. Pandas doesnt check if it is unique but it is better to keep them usiques. In this case, we can use the email as Index

In [ ]:
df.set_index("email")#Remember, this returns a dataframe but it doesnt save it to df.

In [ ]:
df

In [ ]:
#To save it to df, you need to overwrite it. Or you can put the inplace parameter to true so it assigns it directly

# df=df.set_index("email")

df.set_index("email",inplace=True)

df

You can then access the index column by using the index attribute of a dataframe

In [ ]:
df.index

In [ ]:
#Now we can find the names of people using the email as an index
pd.DataFrame(df.loc["abc@student.sfit.ac.in"])

In [ ]:
# We need to remember that we cant use the default integer ones now:
# df.loc[0](we can use the iloc to find this in this way)
df.iloc[0]

What if you messed up in the index naming? Well, you can reset it to default indexes using the reset_index function

In [ ]:
df.reset_index(inplace=True)
df

In [ ]:
#Ex 2
#Set Last Name as index and extract Shardul's email using loc
#ADD YOUR CODE HERE

#END CODE HERE

Let's load back in the survey data and try this with it

In [ ]:
df=pd.read_csv('survey_results_public.csv')
schema_df=pd.read_csv('survey_results_schema.csv')
pd.set_option("display.max_columns",61)
pd.set_option("display.max_rows",61)

In [ ]:
df

In [ ]:
#We can see that there is already a Respondent index unique for each row
#We can do it the way that we saw earlier or just do it while reading in the data
df=pd.read_csv('survey_results_public.csv',index_col="Respondent")
df

Now if i wanted to see what a question is for a column without looking through schema manually, What can i do?

We can set the Column name as the index so we can use the loc function to take in each question name

In [ ]:
schema_df=pd.read_csv('survey_results_schema.csv',index_col="Column")
schema_df

In [ ]:
schema_df.loc["Hobbyist","QuestionText"]#now i can reference each question like this

In [ ]:
#To see them in alphabetical order we can use the sort_index function
schema_df.sort_index()#usie inplace to make it permanent

## Filtering Rows and Columns using Conditionals

We can create a filter or a mask for a certain value/s using standard python conditionals.

In [ ]:
people={
    "First Name":["Varun","Kaif","Shardul"],
    "Last Name":["Patkar","Kohari","Shroff"],
    "email":["abc@student.sfit.ac.in","def@student.sfit.ac.in","ghi@student.sfit.ac.in"]
}
df=pd.DataFrame(people)
df

In [ ]:
#dont use filter(keyword in python)
filt=(df["Last Name"]=="Patkar")
df["Last Name"]=="Patkar"

In [ ]:
df[filt]#this way we can generate and apply filters to a dataframe

In [ ]:
#We can do this same thing using the loc function
df.loc[filt]

In [ ]:
#Using the loc we can also specify the columns 
df.loc[filt,["First Name","Last Name"]]

There is one question though. What about and & or operators?

You can't use the builtin and & or operators but we can use:<br>**& : and<br>| : or**

In [ ]:
filt=((df['Last Name']=="Patkar") | (df['Last Name']=="Kohari"))
filt

In [ ]:
df.loc[filt,["email"]]

In [ ]:
filt=(((df['First Name']=="Varun") | (df['First Name']=="Shardul")) & ((df['Last Name']=="Patkar") | (df['Last Name']=="Shroff")))
filt

In [ ]:
df.loc[filt]

We can also get the rejected ones by adding a NOT(~, tilda, left of your 1 and below your esc) in front of filter

In [ ]:
df.loc[~filt]

Let's load in our survey data again

In [ ]:
df=pd.read_csv('survey_results_public.csv',index_col="Respondent")
schema_df=pd.read_csv('survey_results_schema.csv',index_col="Column")
pd.set_option("display.max_columns",61)
pd.set_option("display.max_rows",61)

Let's say we have to see which programming language makes the most money.

To get the people with salary above a set amt we can use this. Remember, ConvertedComp contains the salary of individual

In [ ]:
salary_filt=(df["ConvertedComp"]>70000)

In [ ]:
df.loc[salary_filt,["Country","LanguageWorkedWith","ConvertedComp"]]#Let's only get the country,Languages used and salary

Now, let's say we have a list of countries that we care about only. We can use the isin function to filter that out

In [ ]:
countries=["India","United States","United Kingdom","Canada","Germany"]
country_filter=df["Country"].isin(countries)
pd.DataFrame(df.loc[country_filter,"Country"])

We can also use string manipulation like in python here. Let's say you want to find out each person that has worked with Python

In [ ]:
pd.DataFrame(df["LanguageWorkedWith"])

As we can see that the languages are seperated by semicolons. so cant do == "Python".

Instead we will use string manipulation. We use .str.*** functions that are called as string functions in pandas.

Here are stringmethods for pandas: <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html">StringMethods Pandas Link</a>

In [ ]:
python_filt=df["LanguageWorkedWith"].str.contains("Python",na=False)#the na is what to put if NaN is encountered
pd.DataFrame(df["LanguageWorkedWith"].str.contains("Python",na=False))

In [ ]:
pd.DataFrame(df.loc[python_filt,"LanguageWorkedWith"])

In [ ]:
# Ex 3
#Create a filter of people from India that are a Hobbyist(use isin. dont use ==)
#ADD YOUR CODE HERE

#END CODE HERE
#There are 6645 people. check those no of rows

## Modifying/Editing Data with DataFrames
### Updating Data in Column Names(Shorter Example)

In [ ]:
people={
    "First Name":["Varun","Kaif","Shardul"],
    "Last Name":["Patkar","Kohari","Schroff"],
    "email":["abc@student.sfit.ac.in","def@student.sfit.ac.in","ghi@student.sfit.ac.in"]
}
df=pd.DataFrame(people)
df

You can rename columns using assignment to df.columns

In [ ]:
df.columns=["First_Name","Last_Name","email"]
df

In [ ]:
df.columns=[x.upper() for x in df.columns]#we can also use list comprehension to make it all upper case, etc.
print(df)
df.columns=["First Name","Last Name","email"]

In [ ]:
df.columns=["First Name","Last Name","email"]
#We can also change the spaces to underscores using the string manip function discussed earlier
df.columns=df.columns.str.replace(" ","_")
df

In [ ]:
df.columns=["first_name","last_name","email"]# Resetting all changes

To only change some of the colums we can use the replace method and pass in a dictionary where keys are original colums and values are new names

In [ ]:
df.rename(columns={"first_name":"First_Name",
                  "last_name":"Last_Name",
                  "email":"Email"},inplace=True)#do not forget inplace to directly assign output
df

### Updating Data in Rows(Shorter Example)

Now, as you can see, I have made a mistake in writing Shardul's surname. It is Shroff not Schroff. So how do we edit that?

Well, we can just use assignment on the 2nd row using loc function.

In [ ]:
df.loc[2]=["Shardul","Shroff","ghi@student.sfit.ac.in"] 
#instead of using the index in a large dataset wecan also use conditionals to search for that entry
df

But, What if we want to just change the last name and not pass all the other values here? Like if there were 100 columns then you would have to list each in the above way. So how do we solve this?

We can specify the column in the loc

In [ ]:
df.loc[2,"Last_Name"]="Schroff"#Resetting data
df #Original data

In [ ]:
df.loc[2,"Last_Name"]="Shroff"#We can also list multiple things and pass in a list in the order to change multiple rows
df

Note:If there is a just a single value to be changed, You can use .at function. This is for performance reasons and gives better efficiency.

<img src="https://drive.google.com/uc?id=1Hk_ZQt4Dvq7o_iNEFqw_r24smwWWlHX1"></img>

In [ ]:
df.at[2,"Last_Name"]="Shroff"
df

>⚠️ There is a common mistake that people make when using filters on large dataset

In [ ]:
filt=(df['Email']=="ghi@student.sfit.ac.in")
df[filt]['Last_Name']

In [ ]:
# df[filt]['Last_Name']="Schroff"
#Someone can tey to use a filter on df and then try to reinitialise a value like this. This gives a SettingWithCopy warning
#This does not change the original dataframe

The reason for this above warning is that when we apply a filter we make a copy of original dataframe and show it to user. It is a copy not the original dataframe and when you do it like this, it doesnt translate the changes to original dataframe

You can take a look at what returning a view vs a copy of dataframe is in pandas here:<a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy">Returning VIew vs Copy</a>

Here is how you can do the filtered assignment right

In [ ]:
df.loc[2,"Last_Name"]="Schroff"#Resetting values
df#Original value

In [ ]:
filt=(df['Email']=="ghi@student.sfit.ac.in")
df.loc[filt,"Last_Name"]="Shroff"
df

In [ ]:
df['Email'] = ["Varun_Patkar@student.sfit.ac.in","Kaif_Kohari@student.sfit.ac.in","Shardul_Shroff@student.sfit.ac.in"]
#We can use assignment to assign each value like this
#Not our actual email. Don't use these.
df

In [ ]:
#We can also use the string methods
df['Email']=df['Email'].str.lower()
df

Now we will go a bit advanced. There are 4 methods that can be confusing so we will go over them one by one:

**1. apply**<br>
**2. map**<br>
**3. applyman**<br>
**4. replace**

First let's look at apply for a Series object. We have a len function predefined so lets apply that to email column to find the lengths of each email

In [ ]:
df["Email"].apply(len)

In [ ]:
#Now let's try a user defined function
#Note: that the function can be as complex as possible. For simplicity  
def camel_case(email):
    return email[0].upper()+email[1:email.index("_")+1]+email[(email.index("_")+1)].upper()+email[(email.index("_")+2):]
df["Email"]=df["Email"].apply(camel_case)#note:we are passing in the function so parenthesis are not needed
df

In [ ]:
#We can also put in simple lambda functions here instead of defining functions 
df["Email"]=df["Email"].apply(lambda x:x.lower())
df

In [ ]:
df["Email"]=df["Email"].apply(camel_case)#Resetting Values
df

In [ ]:
#We can do it on numbers also
nos={
    "n":list(range(0,101))
}
nos=pd.DataFrame(nos)
nos["n^2"]=nos["n"].apply(lambda x:(x*x))
nos

In [ ]:
df.apply(len) #this applies len function to each column(gives 3 as it gives len of list in each column)

In [ ]:
#it's like
print(len(df["First_Name"]))
print(len(df["Last_Name"]))
print(len(df["Email"]))

In [ ]:
print(df.apply(len,axis="columns"))#we can also set the axis to rows or columns
print(df.apply(len,axis="rows"))

In [ ]:
#there is a series min function. as we have string values, it gives the minimum in alphabetical order
print(df.apply(pd.Series.min,axis="columns"))
print(df.apply(pd.Series.min,axis="rows"))

In [ ]:
print(nos.apply(pd.Series.mean)) #calculates avg of each vertical column
#Can alsouse numpy functions
print(nos.apply(lambda x:np.sqrt(x)))#gives series output to series input so full output is a dataframe

**So apply on a series applies function to each element and on a dataframe applies function to every series in the DF**

But can we apply a function to each element in a dataframe? That is what applymap is used for(applymap is only for dataframes. not series)

In [ ]:
df.applymap(len) #applies len function to each and every element in DF

In [ ]:
#we can use this to apply string methods to each element in DF
df.applymap(str.lower)

**Now let's look at a map. Map is only applicable for a series. Used for mapping each value in a series to another value**

In [ ]:
df["First_Name"].map({"Kaif":"Harsh","Shardul":"Sneh"}) 
#Now you see that the values that i did not put in i.e. my name is written as NaN.

But if we want to keep the other values that we did not put in then we can put in the replace method. THe replace method replaces the valeus given and lets others remain

In [ ]:
df["First_Name"].replace({"Kaif":"Harsh","Shardul":"Sneh"})

In [ ]:
df["First_Name"]=df["First_Name"].replace({"Kaif":"Harsh","Shardul":"Sneh"}) 
df["Last_Name"]=df["Last_Name"].replace({"Kohari":"Malhotra","Shroff":"Modi"}) 
df["Email"]=df["Email"].replace({"Kaif_Kohari@student.sfit.ac.in":"Harsh_Malhotra@student.sfit.ac.in","Shardul_Shroff@student.sfit.ac.in":"Sneh_Modi@student.sfit.ac.in"}) 
df

In [ ]:
df=pd.read_csv('survey_results_public.csv',index_col="Respondent")
schema_df=pd.read_csv('survey_results_schema.csv',index_col="Column")
pd.set_option("display.max_columns",61)
pd.set_option("display.max_rows",61)

In [ ]:
df.rename(columns={"ConvertedComp":"SalaryUSD"},inplace=True)
#At first dont put inplace and check if correct. Only then do inplace=True
df["SalaryUSD"]#it looks like nan. but when we look at the valuecounts it is clear

In [ ]:
df["SalaryUSD"].value_counts()

In [ ]:
#Now let's try to map the Hobbyist column to Yes->True and No->False
df["Hobbyist"].map({"Yes":True,"No":False})

In [ ]:
df["Hobbyist"] = df["Hobbyist"].replace({"Yes":True,"No":False})
df

In [ ]:
#Ex 4
#Replace in Country column India with IN,United States with USA and United Kingdom with UK
#Then create a filter that gives True for IN,USA and UK and then apply it in df and see if your output is correct
#ADD YOUR CODE HERE

#END CODE HERE

## Add/ Remove/ Combine Columns and Rows from DataFrame
### Adding a column

Note:Can't use dot notation when creating a column. Needs to be in brackets

In [ ]:
people={
    "First_Name":["Varun","Kaif","Shardul"],
    "Last_Name":["Patkar","Kohari","Shroff"],
    "Email":["abc@student.sfit.ac.in","def@student.sfit.ac.in","ghi@student.sfit.ac.in"]
}
df=pd.DataFrame(people)
df

In [ ]:
df["First_Name"]+" "+df["Last_Name"]#Generates series of names

In [ ]:
#To create a column just make a new entry "Full Name" and it will add to it
df["Full_Name"]=df["First_Name"]+" "+df["Last_Name"]
df

### Removing Column(Using Drop Method)

In [ ]:
df.drop(columns=["First_Name","Last_Name"],inplace=True)
df

Now let's try to split full name column back to first and last names

In [ ]:
df["Full_Name"].str.split(" ")#gives in same series

In [ ]:
#To make this into 2 series we use expand parameter
df["Full_Name"].str.split(" ",expand=True)

In [ ]:
#Now assign it to 2 different columns
df[["First_Name","Last_Name"]]=df["Full_Name"].str.split(" ",expand=True)
df

### Adding a Single Row(Using Append)

In [ ]:
# df.append({"First_Name":"Sneh","Last_Name":"Modi","Full_Name":"Sneh Modi","Email":"jkl@student.sfit.ac.in"})
# Gives error. Let's set ignore index to true and it will automatically figure it out
#The eroor is because we have passed an unnamed Series(converts dict to Series) and index is default

In [ ]:
df=df.append({"First_Name":"Sneh","Last_Name":"Modi","Full_Name":"Sneh Modi","Email":"jkl@student.sfit.ac.in"},ignore_index=True)
df
#Note:No inplace parameter. Have to use assignment here
#If you dont give any values NaN will be filled in

In [ ]:
people={
    "First_Name":["Harsh","Ekta"],
    "Last_Name":["Malhotra","Masrani"],
    "Email":["mno@student.sfit.ac.in","pqr@student.sfit.ac.in"]
}
df2=pd.DataFrame(people)
df2

In [ ]:
df = df.append(df2,ignore_index=True)#Full_Name is not there so it will remain NaN
df
#may give sorting error in old version of pandas. no need to worry. Just out sort=False in older pandas

### Removing Rows(with drop)

In [ ]:
#Let's try to remove 3-5 rows
df.drop(index=[3,4,5])#No inplace so no change to df

### Removing Rows with conditional

In [ ]:
#Let's try to remove all people with full_name==NaN
check_null=(pd.isnull(df["Full_Name"]))
df.drop(index=df[check_null].index,inplace=True)
df

## Sorting Data in Pandas

In [ ]:
people={
    "First_Name":["Varun","Kaif","Shardul"],
    "Last_Name":["Patkar","Kohari","Shroff"],
    "Email":["abc@student.sfit.ac.in","def@student.sfit.ac.in","ghi@student.sfit.ac.in"]
}
df=pd.DataFrame(people)
df

In [ ]:
df.sort_values(by="Last_Name",ascending=True)#sort by last name in ascending order

In [ ]:
df.sort_values(by="Last_Name",ascending=False)#sort by last name in descending order

But what if 2 elements have same value. Then we will have to sort by another column. So we can pass in list. So if first is same then check 2nd, etc.

In [ ]:
df=df.append({"First_Name":"Varun","Last_Name":"Patkar1","Email":"jkl@student.sfit.ac.in"},ignore_index=True)
df

In [ ]:
df.sort_values(by=["First_Name","Last_Name"])#First check first name and if same then check last name
#To make changes permanent use inplace

In [ ]:
df.sort_values(by=["First_Name","Last_Name"],ascending=[True,False])
#First check first name and srt in ascending but if same then check last name and sort last names in descending order
#To make changes permanent use inplace

Now, if we want ot sort by index we can use sort_index function.

Note:This is the default index so will sort in order of addition/definition. If we set index as some other column, that will be reflected according to that column.

In [ ]:
df.sort_index()

In [ ]:
#To only sort a series you can slice the dataframe and then sort it
df["Last_Name"].sort_values()

In [ ]:
df=pd.read_csv('survey_results_public.csv',index_col="Respondent")
schema_df=pd.read_csv('survey_results_schema.csv',index_col="Column")
pd.set_option("display.max_columns",61)
pd.set_option("display.max_rows",61)
df

In [ ]:
#Let's sort these by country name and then by salary
df.sort_values(by="Country",inplace=True)
df[["Country","ConvertedComp"]].head(50)
#See that salary is not sorted. But to see the top salaries we can sort in descending order

In [ ]:
df.sort_values(by=["Country","ConvertedComp"],ascending=[True,False],inplace=True)
df[["Country","ConvertedComp"]].head(50)
#You can see that there are many outliers that make 1 million USD. We can account for these in Aggregation Section

In [ ]:
df["ConvertedComp"].nlargest(10)

In [ ]:
#To see other values like country also, you can use it like this
df.nlargest(10,"ConvertedComp")

In [ ]:
#Similarly
df.nsmallest(10,"ConvertedComp")

## Analyzing and Exploring Data(Grouping and Aggregating)

### Aggregation

In [ ]:
#Reloading Survey Data
df=pd.read_csv('survey_results_public.csv',index_col="Respondent")
schema_df=pd.read_csv('survey_results_schema.csv',index_col="Column")
pd.set_option("display.max_columns",61)
pd.set_option("display.max_rows",61)
df["Gender"].value_counts()

Aggregation is compiing several peices of data into single result.<br>Ex:count,sum,avg,RMS, etc. wherever we take in a bunch of data and give single value as output

Now let's say you want to find what median salary is for the given data. Here's how to find it.

In [ ]:
df["ConvertedComp"].median()

But we know each country has different economy and so has different value of currency. So this doesnt reflect that properly. So it would be better to look atmedian salary per country. That will be done in Groupinng later.

In [ ]:
df.median()
#if applied on whole dataframe, scans for all numeric values and finds their medians and prints.

In [ ]:
#To get a statistical description of data we can use the describe function
df.describe()
#Note:25% is quarter quantile,50% is median and 75% is three quarters quantile.
#count is number of non NaN(not a number) values

**Note:We used median as median is a good metric when measuring quantities as median is not much affected by outliers. A small no of outliers affect mean greately but dont affect median as much. Look at the mean and 50% above to see how**

**Note:Sometimes people confuse count with a function that counts nos of values in a row and reports for each column. This is what value_counts is used for**

In [ ]:
df["Hobbyist"].count()#Returns total nos of YES and NOS(here everyone answered so there is no null value)

In [ ]:
df["Hobbyist"].value_counts()#Counts individual nos of each option and shows them for the column

In [ ]:
df["SurveyLength"].value_counts()#Shows How many and what people thought of the length of the survey

In [ ]:
df["SurveyLength"].value_counts(normalize=True)*100 #Normalize gives percent/100
#Similarly each country has different people with opinions then we will have to group by the country

### Grouping(using groupby function)

**There are 3 steps in Grouping:Splitting the object,applying the given function to each and then combining the results**

In [ ]:
df["Country"].value_counts()

In [ ]:
country_group=df.groupby(["Country"])#Returns a FataFrameGroupBy object
#DataFrameGroupBy object contains a bunch of groups of data

In [ ]:
country_group.get_group("India")#Gives all the people from India that filled the form

Now getting a group is nothing surprising as we could have done it using filters and checked if country is India. But this splits it all into each entry.

In [ ]:
country_group.get_group("India")["Hobbyist"].value_counts()
#Then we can just apply the value counts to the hobbyist section. This gives hobbyist detais of only India.

In [ ]:
#Now, let's run this on the groupby object
countries_hobbyist=country_group["Hobbyist"].value_counts(normalize=True)*100#Gives the Hobbyist answer by country
countries_hobbyist.head(60)
#We are only seeing the first 60.
#There are total 183 countries and some have not answered so there are total 333 yes/no answers

In [ ]:
#Now we can access each country by saving it into a variable
countries_hobbyist.loc["India"]
#This series has multiple indexes which you can use

In [ ]:
countries_hobbyist.loc["United States"]

Now getting a group is nothing surprising as we could have done it using filters and checked if country is India. But this splits it all into each entry.

In [ ]:
country_group["ConvertedComp"].median()#Medain salary by Country

In [ ]:
#We cam now make requests to some country easily
print("Median Salary(In India) = $",country_group["ConvertedComp"].median().loc["India"])
print("Median Salary(In USA) = $",country_group["ConvertedComp"].median().loc["United States"])

In [ ]:
country_group["ConvertedComp"].agg(["median","mean","count"])
#The agg function takes in multiple functions and applies each to it

In [ ]:
#Similarly
country_group["ConvertedComp"].agg(["median","mean","count"]).loc["India"]

In [ ]:
country_group["ConvertedComp"].agg(["median","mean","count"]).loc["United States"]

In [ ]:
#Let's try to find how any people use Python by country
# country_group["LanguageWorkedWith"].str.contains("Python").sum()
#Gives error as stringmethods cant be applied to SeriesGroupBy object as group by are multiple. 
#So we need to use the apply function instead to apply the string methods to each country

In [ ]:
country_group["LanguageWorkedWith"].apply(lambda x:x.str.contains("Python"))
#Gives true and false values. Need to sum them to find nos of trues in each coutnry

In [ ]:
country_python=country_group["LanguageWorkedWith"].apply(lambda x:x.str.contains("Python").sum())
country_python
#this gives nos. But we can't say anything with that. But if we have percentage then we can say easily how many used python

In [ ]:
country_participants=df["Country"].value_counts()
#Now let's match up both indexes. To do this we need t use the pandas concat function to match up indexes side by side
python_df=pd.concat([country_python,country_participants],axis="columns")
python_df.rename(columns={"Country":"Participants","LanguageWorkedWith":"UsedPython"},inplace=True)
python_df

In [ ]:
python_df["pctKnowsPython"]=(python_df["UsedPython"]/python_df["Participants"])*100
python_df.sort_values(by="pctKnowsPython",ascending=False,inplace=True)
python_df.head(60)

In [ ]:
#Then we can access each of them
python_df.loc["India"]

In [ ]:
python_df.loc["United States"]

In [ ]:
#Ex 5(Hardest and Most Important Exercise)
#Let's try to see the ratio of women that know python vs men that know python that gave the survey

#Group by Gender and find no of people that know python
#then find the percentage of men who know python and women that know Python and print that out
#Don't include Non-binary, genderqueer, or gender non-conforming
#Then find the ratio of women vs men and put that in chat.

#ADD YOUR CODE HERE

#END CODE HERE

## Working with missing/unknown data in Pandas

In [ ]:
df=pd.DataFrame(
    {
        "First_Name":["Varun","Shardul","Kaif","Sneh",np.nan,None,"NA"],
        "Last_Name":["Patkar","Shroff","Kohari","Modi",np.nan,np.nan,"Missing"],
        "Email":["VarunPatkar@gmail.com","ShardulShroff@gmail.com","KaifKohari@gmail.com",None,np.nan,"Anonymous@protonmail.com","NA"],
        "Age":["19","19","20","20",None,None,"Missing"]
    }
)#CHANGE AGES LATER
df

In [ ]:
#If we just want to remove all rows with NaN or Null use dropna function
df.dropna(axis="index",how="any")#the given values of params are default values
#Last row remains as it has string values.
#axis can be index or columns. index->drop rows,columns->drop columns
#how can be any(if any of the row has a missing value, it drops),all(all need to be missing in order to drop)

In [ ]:
df.dropna(axis="index",how="all")

In [ ]:
df.dropna(axis="columns",how="any")#drops all as all columns have at least 1 missing

In [ ]:
df.dropna(axis="columns",how="all")#nothing dropped as no column has all misssing

Now what if we will allow first and last names but email address is compulsary? SO we can put in a subset argument(Subset is the column names that we check for null values

In [ ]:
df.dropna(axis="index",subset=["Email"])#if we are only having 1 value in subset then any and all both give same output

In [ ]:
#I need last name or email. none will not work. both will work
df.dropna(axis="index",how="all",subset=["Email","Last_Name"])

Now the only problem is the custom missing values like "NA" or "Missing". First let's look at hwo to handle when preloaded data is there in a variable

In [ ]:
df.replace("NA",np.nan,inplace=True)#Replace all strings with the NaN value
df.replace("Missing",np.nan,inplace=True)
df

In [ ]:
#now:
df.dropna(axis="index",how="any")

In [ ]:
df.isna()#Gives mask of which is NA or not

In [ ]:
#if Working with numerical data like stocks we would fill NA in with other data
#ex:student didnt turn in assignment so is NA then we can give it 0 or some minimum marks using fillna method
df.fillna("MISSING!!!")#Fills in all NA values with things.

### Casting Datatypes

If we want to find avg age but the age columns is all strings so we need to cast it to integers.

In [ ]:
df.dtypes #age is object type as it has none also

In [ ]:
# df["Age"].mean()
#gives error as age is string type

**Note:We need to define age as float if we want to use NaN in it as np.nan is in fact a float data type.**

In [ ]:
type(np.nan)#nan has float type so we need to convert to float or else error will be there

In [ ]:
# df["Age"]=df["Age"].astype(int)
#Gives error as float not int
df["Age"]=df["Age"].astype(float)
df

In [ ]:
df.dtypes

In [ ]:
print("Mean Age is",df["Age"].mean())

If working with pure numerical data we can also astype full dataframe also.

Now let's load in the survey data. We can replace "NA" and "Missing" while loading in the data from file also.

In [ ]:
#Reloading Survey Data
#Here in this survey there is no values that are wierd str
na_vals=["NA","Missing"]
df=pd.read_csv('survey_results_public.csv',index_col="Respondent",na_values=na_vals)
schema_df=pd.read_csv('survey_results_schema.csv',index_col="Column",na_values=na_vals)
pd.set_option("display.max_columns",61)
pd.set_option("display.max_rows",61)

### Problems with Casting

Let's try to calculate avg years of coding experience

In [ ]:
df["YearsCodePro"].value_counts()#Total years of professional coding
#Options are 1-50,less than 1 and more than 50
#Hence, .mean() can't occur

In [ ]:
#So some may try to cast it to float but less than 1 and more than cant be made to floats. Hence error
# df["YearsCodePro"].astype(float)

In [ ]:
#To just look at the unique valueswithout counting you can use the unique function
df["YearsCodePro"].unique()

## Saving data in different file formats

We have covered importing from different file formats. But writing to saif formats is also available

In [ ]:
#df.to_csv("file_loc.csv")           CSV FORMAT
#df.to_csv("file_loc.tsv",sep="\t")  TSV FORMAT
#To save to excel you need ot install xlwt,openpyxl and xlrd with pip
#df.to_excel("file_loc.xlsx")        EXCEL FORMAT
#df.to_json("file_loc.json")         JSON FORMAT

#There is also save to sql. but you need ot install SQLAlchemy and a communicator(psycopg for postgres) for storing
#Then you need ot create an engine

# from sqlalchemy import create_engine
# import psycopg    (connector)
# engine=create_engine("postgresql://user_name::pass@localhost:port/db_name")

#then you can save the data using the engine

#df.to_sql("table_name",engine,if_exists="replace")

#To read from SQL you ca use the same engine
#df=pd.read_sql("df_name",engine,index_col="Index_Col_Name")

#We can also make a query and take the output into dataframes
#df=pd.read_sql_query("(query)SELECT .......",engine,index_col="Index_Col_Name")