# K Means Clustering
**<a href="https://colab.research.google.com/drive/1MdchVxF6zN4ppghPvM5TG6ORKpIFaTjy?usp=sharing">Collab Notebook Link</a>**

We will use KMeans Clustering to cluster Universities into to two groups, Private and Public.

___
It is **very important to note, we actually have the labels for this data set, but we will NOT use them for the KMeans clustering algorithm, since that is an unsupervised learning algorithm.** 

When using the Kmeans algorithm under normal circumstances, it is because you don't have labels. In this case we will use the labels to try to get an idea of how well the algorithm performed, but you won't usually do this for Kmeans, so the classification report and confusion matrix at the end of this project, don't truly make sense in a real world setting!.
___

## The Data

We will use a data frame with 777 observations on the following 18 variables.
* Private - A factor with levels No and Yes indicating private or public university
* Apps - Number of applications received
* Accept - Number of applications accepted
* Enroll - Number of new students enrolled
* Top10perc - Pct. new students from top 10% of H.S. class
* Top25perc - Pct. new students from top 25% of H.S. class
* F.Undergrad - Number of fulltime undergraduates
* P.Undergrad - Number of parttime undergraduates
* Outstate - Out-of-state tuition
* Room.Board - Room and board costs
* Books - Estimated book costs
* Personal - Estimated personal spending
* PhD - Pct. of faculty with Ph.D.â€™s
* Terminal - Pct. of faculty with terminal degree
* S.F.Ratio - Student/faculty ratio
* perc.alumni - Pct. alumni who donate
* Expend - Instructional expenditure per student
* Grad.Rate - Graduation rate

## Import Libraries

** Import the libraries you usually use for data analysis.**

In [ ]:
#downloads files for collab users
!rm -rdf *
!pip install gdown
!gdown https://drive.google.com/uc?id=1j4hol4PCiaT5q5pKs3Ov1pLhrhza1LE1

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Get the Data

** Read in the College_Data file using read_csv. Figure out how to set the first column as the index.**

In [ ]:
df = pd.read_csv('College_Data', index_col=0)

**Check the head of the data**

In [ ]:
#head

In [ ]:
#shape

 ### describe() method to get a statistical overview of data.

In [ ]:
#heatmap

.

In [ ]:
#sns.scatterplot('Room.Board', 'Grad.Rate', data=df, hue='Private')

### Private colleges have higher Outstate tuitions than public colleges

In [ ]:
#sns.scatterplot('Outstate', 'F.Undergrad', data=df, hue='Private')

### Observations

.

### Fixing errors in our dataset

In [ ]:
#df['Grad.Rate'].max()

### Notice how there seems to be a private school with a graduation rate of higher than 100%.What is the name of that school?

** Set that school's graduation rate to 100 so it makes sense. You may get a warning not an error) when doing this operation, so use dataframe operations or just re-do the histogram visualization to make sure it actually went through.**

<ipython-input-14-bc95ac68ab2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grad.Rate']['Cazenovia College'] = 100

Empty DataFrame
Columns: [Private, Apps, Accept, Enroll, Top10perc, Top25perc, F.Undergrad, P.Undergrad, Outstate, Room.Board, Books, Personal, PhD, Terminal, S.F.Ratio, perc.alumni, Expend, Grad.Rate]
Index: []

In [ ]:
#df[df['PhD']>100]

### Another way to tackle the above kind of errors is to drop the entire row which has the error

In [ ]:
df[df['PhD']>100]

Empty DataFrame
Columns: [Private, Apps, Accept, Enroll, Top10perc, Top25perc, F.Undergrad, P.Undergrad, Outstate, Room.Board, Books, Personal, PhD, Terminal, S.F.Ratio, perc.alumni, Expend, Grad.Rate]
Index: []

### Drop the labels column because this is an unsupervised algorithm.

In [ ]:
#df_without_labels = df.drop('Private', axis=1)

## K Means Cluster Creation

Now it is time to create the Cluster labels!

** Import KMeans from SciKit Learn.**

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
# Call the Kmeans function

### Train the Model

### Cluster Centres

In [ ]:


#cluster centres in high dimensional space

In [ ]:
#labels

In [ ]:
#predict

## Evaluation

### Usually you cannot evaluate your model in Unsupervised algorithms because the labels are not given like in Supervised Algorithms.